.content-tree-table {
  table-layout: fixed;
}

.content-tree-table th.title-cell {
  width: 33%;
}

.content-tree-table th.select-all {
  width: 1em;
}

.content-tree-table .menu-parent .collapse-button {
  text-align: center;
  background: transparent;
  border: none;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.content-tree-table .menu-parent .collapse-button:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  background-image: url(/core/misc/icons/0074bd/chevron-right.svg);
  transform: rotate(90deg);
}

.content-tree-table .menu-parent.tree-collapsed .collapse-button:before {
  transform: rotate(0deg);
}
